.badge {
    border-radius: map-get($badges, border-radius);
    box-shadow: map-get($badges, box-shadow);
    color: map-get($badges, color);
    display: inline-block;
    font-family: map-get($badges, font-family);
    font-size: map-get($badges, font-size);
    font-weight: map-get($badges, font-weight);
    letter-spacing: map-get($badges, letter-spacing);
    line-height: map-get($badges, line-height);
    min-width: map-get($badges, min-width);
    padding: map-get($badges, padding-y) map-get($badges, padding-x);
    text-decoration: map-get($badges, text-decoration);
    text-transform: map-get($badges, text-transform);

    &--danger {
        background: $theme-danger;
    }
    &--info {
        background: $theme-info;
    }
    &--success {
        background: $theme-success;
    }
    &--warning {
        background: $theme-warning;
    }
}