.btn {
    background-color: transparent;
    border: 0;
    border-radius: map-get($buttons, border-radius);
    color: #fff;
    display: inline-block;
    font-family: $btn-font-family;
    font-size: map-get($buttons, font-size);
    line-height: map-get($buttons, line-height);
    padding: map-get($buttons, padding);
    text-decoration: map-get($buttons, text-decoration);
    transition: map-get($buttons, transition);

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: $btn-disabled-opacity;
    }
}
.btn:not(.disabled):not(:disabled) {
    cursor: pointer;
}

// SASS map tests
.btn-primary {
    @include button-primary($buttons);
}
.btn-secondary {
    @include button-secondary($buttons);
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

// Variants
// @each $color, $value in $theme-colors {
//     .btn-#{$color} {
//         @include button-variant($value, $value);
//     }
// }

// Link variant
.btn-link {
    color: $link-color;
    font-weight: $font-weight-normal;
    padding: 0;
    position: relative;
    text-decoration: $link-decoration;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
        &::after {
            transform: scaleX(1);
        }
    }

    &::after {
        background: $link-hover-color;
        bottom: 0;
        content: '';
        height: 2px;
        left: 1px;
        position: absolute;
        transform: scaleX(0);
        transform-origin: left center;
        width: calc(100% - 1px);
        @include transition($btn-transition);
    }
}

// Button sizes
.btn-lg {
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}
.btn-sm {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}