.btn {
    background-color: transparent;
    border: $buttons-default-border-width solid transparent;
    color: #fff; // TODO should not be hardcoded - $body-color like Bootstrap?
    display: inline-block;
    font-family: $buttons-text-font-family;
    font-weight: $buttons-text-font-weight;
    line-height: $buttons-text-line-height;
    text-decoration: $buttons-text-text-decoration;
    transition: map-get($buttons, transition);

    @include btn-sizes($buttons-padding-y, $buttons-padding-x, $buttons-text-font-size, $buttons-radius, $buttons-text-line-height);

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        // opacity: $buttons-disabled-opacity;
        pointer-events: none;
    }
}

.btn:not(.disabled):not(:disabled) {
    cursor: pointer;
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

// SASS map tests
.btn-primary {
    @include btn-variants(map-get($buttons, primary));

    &.btn-inverse {
        @include btn-variants(map-get($buttons, primary-dark));
    }
}

.btn-secondary {
    @include btn-variants(map-get($buttons, secondary));

    &.btn-inverse {
        @include btn-variants(map-get($buttons, secondary-dark));
    }
}

.btn-link {
    @include btn-variants(map-get($buttons, link));
}

.btn-icon {
    @include btn-variants(map-get($buttons, icon));
}

// Button sizes
.btn-lg {
    @include btn-sizes($buttons-lg-padding-y, $buttons-lg-padding-x, $buttons-lg-text-font-size, $buttons-lg-radius, $buttons-lg-text-line-height);
}
.btn-sm {
    @include btn-sizes($buttons-sm-padding-y, $buttons-sm-padding-x, $buttons-sm-text-font-size, $buttons-sm-radius, $buttons-sm-text-line-height);
}