.card {
    background-color: map-get($cards, background-color);
    border-color: map-get($cards, border-color);
    border-radius: map-get($cards, border-radius);
    border-width: map-get($cards, border-width);
    box-shadow: map-get($cards, box-shadow);
    transition: all .3s ease-in-out;

    &--hoverable {
        &:hover {
            background-color: map-get($cards, hover-background);
            border-color: map-get($cards, hover-border-color);
            box-shadow: map-get($cards, hover-box-shadow);
        }
    }
    &--selected {
        background-color: map-get($cards, selected-background);
        border-color: map-get($cards, selected-border-color);
        box-shadow: map-get($cards, selected-box-shadow);
    }

    .card-img-top {
        display: block;
        margin: auto;
        max-width: 245px;
        width: 100%;
    }

    .card-img-overlay {
        background-color: map-get($cards, background-overlay);
        color: $white;
    }

    .card-body {
        padding: map-get($cards, padding-y) map-get($cards, padding-x);

        .card-title {
            margin: 24px 0 0;
            text-align: center;
        }
    }

    &__prices {
        div:first-child {
            margin-right: 20px;
        }
        h3 {
            color: $primary;
            margin-bottom: 0;
            margin-top: 24px;
        }
        h6 {
            color: $buttons-secondary-text-disabled;
            margin: 0;
        }
    }
    &__buttons {
        margin-top: 24px;
        .btn {
            &:not(:last-child) {
                margin-right: 24px;
            }
        }
    }
}