.card {
    background-color: map-get($cards, background-color);
    border-color: map-get($cards, border-color);
    border-radius: map-get($cards, border-radius);
    border-width: map-get($cards, border-width);
    box-shadow: map-get($cards, box-shadow);
    overflow: hidden;
    position: relative;
    transition: all .3s ease-in-out;

    &--hoverable {
        &:hover {
            background-color: map-get($cards, hover-background);
            border-color: map-get($cards, hover-border-color);
            box-shadow: map-get($cards, hover-box-shadow);
        }
    }
    &--selected {
        background-color: map-get($cards, selected-background);
        border-color: map-get($cards, selected-border-color);
        box-shadow: map-get($cards, selected-box-shadow);
    }

    .card-img, .card-img-top, .card-img-bottom {
        width: 100%;
    }
    .card-img-top {
        display: block;
        margin: auto;
        width: 100%;
    }

    .card-img-overlay {
        background-color: map-get($cards, background-overlay);
        border-radius: 7px;
        bottom: 0;
        color: $white;
        left: 0;
        padding: 1rem;
        position: absolute;
        right: 0;
        top: 0;
    }

    .card-body {
        padding: map-get($cards, padding-y) map-get($cards, padding-x);

        .card-title {
            margin: 24px 0 0;
            text-align: center;
        }
    }
}