.chip {
    border-color: $primary;
    border-radius: map-get($chips, border-radius);
    border-style: solid;
    border-width: map-get($chips, border-width);
    color: map-get($chips, color);
    font-family: map-get($chips, font-family);
    font-size: map-get($chips, font-size);
    font-weight: map-get($chips, font-weight);
    letter-spacing: map-get($chips, letter-spacing);
    line-height: map-get($chips, line-height);
    padding: map-get($chips, padding-y) map-get($chips, padding-x) map-get($chips, padding-y) (map-get($chips, padding-x) + 3px);
    position: relative;
    text-decoration: map-get($chips, text-decoration);
    text-transform: map-get($chips, text-transform);

    svg, img {
        max-width: map-get($chips, indicator-width);
    }

    &::before {
        background: $primary;
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        width: 3px;
    }

    &--action {
        align-items: center;
        display: inline-flex;
        svg, img {
            margin-left: 3px;
        }
    }
    &--dismissible {
        align-items: center;
        display: inline-flex;
        padding-left: map-get($chips, padding-x);
        &::before {
            display: none;
        }
        .close-btn {
            margin-left: 5px;
        }

        &.disabled {
            border-color: map-get($chips, disabled-border-color);
            pointer-events: none;
            button {
                pointer-events: none;
            }
            svg path {
                fill: $close-icon-disabled;
            }
        }
    }

    &--danger {
        border-color: $theme-danger;
        &::before {
            background: $theme-danger;
        }
    }
    &--info {
        border-color: $theme-info;
        &::before {
            background: $theme-info;
        }
    }
    &--success {
        border-color: $theme-success;
        &::before {
            background: $theme-success;
        }
    }
    &--warning {
        border-color: $theme-warning;
        &::before {
            background: $theme-warning;
        }
    }
}