label {
    // @include form-styles(map-get($forms, label));
    @include label-styles(map-get($labels, regular));
}

input {
    @include input-styles('custom-input', $inputs);
}

select {
    @include input-styles('custom-select', $selects);
}

textarea {
    @include input-styles('custom-input', $inputs);
}

// Form Check TODO: Make it more flexible, mixin or placeholder?
.form-check {
    display: block;
    min-height: $form-check-min-height;
    padding-left: $form-check-padding-start;

    > label {
        @include label-styles(map-get($labels, check));
    }

    > input {
        @include check-styles('custom-check', $form-check);
        float: left;
        // margin-top: TODO need to be calculated base on label line-height
        margin-left: $form-check-padding-start * -1;

        &[type="checkbox"] {
            @include check-styles('custom-check', map-get($form-check, checkbox));
        }
        &[type="radio"] {
            @include check-styles('custom-check', map-get($form-check, radio));
        }
    }
}