$black: #010101 !default;
$dark-grey: #242831 !default;
$light-grey: #EBEBEB !default;
$yellow: #FFFAA6 !default;
$blue: #0d6efd !default;
$grey: #6c757d;
$disabled-grey: #BABEC2;

$white: #fff;
@if variable-exists(colors-white) {
  $white: $colors-white;
}

$primary: $blue !default;
@if variable-exists(colors-primary) {
  $primary: $colors-primary;
}
$secondary: $grey !default;
@if variable-exists(buttons-secondary-bg) {
  $secondary: $buttons-secondary-bg; // no $colors-secondary token
}

$disabled: $disabled-grey;
@if variable-exists(buttons-primary-bg-disabled) {
  $disabled: $buttons-primary-bg-disabled;
}

$colors: () !default;
$colors: map-merge(
  (
    "black": $black,
    "dark-grey": $dark-grey,
    "light-grey": $light-grey,
    "yellow": $yellow,
    "white": $white,
  ),
  $colors
);

$theme-danger: #BD2025 !default;
$theme-info: #0099FF !default;
$theme-success: #339043 !default;
$theme-warning: #F9AC28 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $grey,
    "bg-danger": $theme-danger,
    "bg-info": $theme-info,
    "bg-success": $theme-success,
    "bg-warning": $theme-warning,
  ),
  $theme-colors
);
