$black: #010101 !default;
$dark-grey: #242831 !default;
$light-grey: #EBEBEB !default;
$yellow: #FFFAA6 !default;
$blue: #0d6efd !default;
$white: #fff;
@if variable-exists(colors-white) {
  $white: $colors-white;
}

$primary: $blue !default;
@if variable-exists(colors-primary) {
  $primary: $colors-primary;
}


$colors: () !default;
$colors: map-merge(
  (
    "black": $black,
    "dark-grey": $dark-grey,
    "light-grey": $light-grey,
    "yellow": $yellow,
    "white": $white,
  ),
  $colors
);

// $primary: $yellow;
// $secondary: $dark-grey;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary": $primary,
    // "secondary": $dark-grey,
    // "white": $white,
  ),
  $theme-colors
);
