// ------------------------------------------
// Options
// - Quickly modify global styling by enabling or disabling optional features.
// ------------------------------------------
$enable-rounded: true !default;
$enable-transitions: true !default;
$enable-prefers-reduced-motion-media-query: true !default;

$border-radius: 8px !default;
$border-radius-sm: 6px !default;
$border-radius-lg: 8px !default;

$box-shadow-base: 0px 0px 0px 0px #000000 !default;

$padding-x-base: .75rem !default;
$padding-y-base: .375rem !default;
$padding-x-sm: .5rem !default;
$padding-y-sm: .25rem !default;
$padding-x-lg: 1rem !default;
$padding-y-lg: .5rem !default;

// Typography
$font-family-base: Arial, Helvetica, sans-serif;

$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

$font-size-base: 1rem !default;
$font-size-sm: $font-size-base * .875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$headings-h1-font-family: $font-family-base !default;
$headings-h1-font-weight: bold !default;
$headings-h1-line-height: $line-height-base !default;
$headings-h1-font-size: $h1-font-size !default;
$headings-h1-letter-spacing: normal !default;
$headings-h1-paragraph-spacing: null !default;
$headings-h1-text-decoration: none !default;
$headings-h1-text-case: none !default;

$headings-h2-font-family: $font-family-base !default;
$headings-h2-font-weight: bold !default;
$headings-h2-line-height: $line-height-base !default;
$headings-h2-font-size: $h2-font-size !default;
$headings-h2-letter-spacing: normal !default;
$headings-h2-paragraph-spacing: null !default;
$headings-h2-text-decoration: none !default;
$headings-h2-text-case: none !default;

$headings-h3-font-family: $font-family-base !default;
$headings-h3-font-weight: bold !default;
$headings-h3-line-height: $line-height-base !default;
$headings-h3-font-size: $h3-font-size !default;
$headings-h3-letter-spacing: normal !default;
$headings-h3-paragraph-spacing: null !default;
$headings-h3-text-decoration: none !default;
$headings-h3-text-case: none !default;

$headings-h4-font-family: $font-family-base !default;
$headings-h4-font-weight: bold !default;
$headings-h4-line-height: $line-height-base !default;
$headings-h4-font-size: $h4-font-size !default;
$headings-h4-letter-spacing: normal !default;
$headings-h4-paragraph-spacing: null !default;
$headings-h4-text-decoration: none !default;
$headings-h4-text-case: none !default;

$headings-h5-font-family: $font-family-base !default;
$headings-h5-font-weight: bold !default;
$headings-h5-line-height: $line-height-sm !default;
$headings-h5-font-size: $h5-font-size !default;
$headings-h5-letter-spacing: normal !default;
$headings-h5-paragraph-spacing: null !default;
$headings-h5-text-decoration: none !default;
$headings-h5-text-case: none !default;

$headings-h6-font-family: $font-family-base !default;
$headings-h6-font-weight: bold !default;
$headings-h6-line-height: $line-height-sm !default;
$headings-h6-font-size: $h6-font-size !default;
$headings-h6-letter-spacing: normal !default;
$headings-h6-paragraph-spacing: null !default;
$headings-h6-text-decoration: none !default;
$headings-h6-text-case: none !default;

$headings: (
    h1: (
        font-family: $headings-h1-font-family,
        font-weight: $headings-h1-font-weight,
        line-height: $headings-h1-line-height,
        font-size: $headings-h1-font-size,
        letter-spacing: $headings-h1-letter-spacing,
        // $headings-h1-paragraph-spacing,
        text-decoration: $headings-h1-text-decoration,
        text-transform: $headings-h1-text-case,
    ),

    h2: (
        font-family: $headings-h2-font-family,
        font-weight: $headings-h2-font-weight,
        line-height: $headings-h2-line-height,
        font-size: $headings-h2-font-size,
        letter-spacing: $headings-h2-letter-spacing,
        // $headings-h2-paragraph-spacing,
        text-decoration: $headings-h2-text-decoration,
        text-transform: $headings-h2-text-case,
    ),

    h3: (
        font-family: $headings-h3-font-family,
        font-weight: $headings-h3-font-weight,
        line-height: $headings-h3-line-height,
        font-size: $headings-h3-font-size,
        letter-spacing: $headings-h3-letter-spacing,
        // $headings-h3-paragraph-spacing,
        text-decoration: $headings-h3-text-decoration,
        text-transform: $headings-h3-text-case,
    ),

    h4: (
        font-family: $headings-h4-font-family,
        font-weight: $headings-h4-font-weight,
        line-height: $headings-h4-line-height,
        font-size: $headings-h4-font-size,
        letter-spacing: $headings-h4-letter-spacing,
        // $headings-h4-paragraph-spacing,
        text-decoration: $headings-h4-text-decoration,
        text-transform: $headings-h4-text-case,
    ),

    h5: (
        font-family: $headings-h5-font-family,
        font-weight: $headings-h5-font-weight,
        line-height: $headings-h5-line-height,
        font-size: $headings-h5-font-size,
        letter-spacing: $headings-h5-letter-spacing,
        // $headings-h5-paragraph-spacing,
        text-decoration: $headings-h5-text-decoration,
        text-transform: $headings-h5-text-case,
    ),

    h6: (
        font-family: $headings-h6-font-family,
        font-weight: $headings-h6-font-weight,
        line-height: $headings-h6-line-height,
        font-size: $headings-h6-font-size,
        letter-spacing: $headings-h6-letter-spacing,
        // $headings-h6-paragraph-spacing,
        text-decoration: $headings-h6-text-decoration,
        text-transform: $headings-h6-text-case,
    ),
);

// ------------------------------------------
// Buttons
// - Shared variables that are reassigned `$buttons-` specific variables. Define text, background, and border color
// ------------------------------------------

$btn-hover-bg-shade-amount: 15% !default;
$btn-hover-bg-tint-amount: 15% !default;
$btn-hover-border-shade-amount: 15% !default;
$btn-hover-border-tint-amount: 15% !default;

$btn-active-bg-shade-amount: 20% !default;
$btn-active-bg-tint-amount: 20% !default;
$btn-active-border-shade-amount: 20% !default;
$btn-active-border-tint-amount: 20% !default;

// Base Variables, overriden by tokens
$buttons-default-border-width: 0 !default; // no token atm
$buttons-drop-shadow: $box-shadow-base !default;
$buttons-text-font-family: $font-family-base !default;
$buttons-text-font-size: $font-size-base !default;
$buttons-text-font-weight: normal !default;
$buttons-text-line-height: $line-height-base !default;
$buttons-text-letter-spacing: normal !default;
$buttons-text-paragraph-spacing: 0 !default;
$buttons-text-text-case: none !default;
$buttons-text-text-decoration: none !default;
$buttons-padding-x: $padding-x-base !default;
$buttons-padding-y: $padding-y-base !default;
$buttons-radius: $border-radius !default;
$buttons-lg-radius: $border-radius-lg !default;
$buttons-sm-radius: $border-radius-sm !default;
$buttons-text-transform: none !default; // no token atm

// Primary
$buttons-primary-bg: $primary !default;
$buttons-primary-bg-hover: shade-color($primary, $btn-hover-bg-shade-amount) !default;
$buttons-primary-bg-focus: null !default; // no token atm
$buttons-primary-bg-active: null !default; // no token atm
$buttons-primary-bg-disabled: $disabled !default;
$buttons-primary-border: $primary !default;
$buttons-primary-border-hover: shade-color($primary, $btn-hover-border-shade-amount) !default;
$buttons-primary-border-disabled: $disabled !default;
$buttons-primary-border-width: 0 !default;
$buttons-primary-text: $white !default;
$buttons-primary-text-hover: $white !default;
$buttons-primary-text-focus: $white !default; // no token atm
$buttons-primary-text-active: $white !default; // no token atm
$buttons-primary-text-disabled: $white !default; // no token atm


// Secondary
$buttons-secondary-bg: $secondary !default;
$buttons-secondary-bg-hover: shade-color($secondary, $btn-hover-bg-shade-amount) !default;
$buttons-secondary-bg-focus: null !default; // no token atm
$buttons-secondary-bg-active: null !default; // no token atm
$buttons-secondary-bg-disabled: $disabled !default; // no token atm
$buttons-secondary-border: $primary !default;
$buttons-secondary-border-hover: shade-color($secondary, $btn-hover-border-shade-amount) !default; // no token atm
$buttons-secondary-border-disabled: $disabled !default;
$buttons-secondary-border-width: 0 !default;
$buttons-secondary-padding-x: $padding-x-base !default; // no token atm
$buttons-secondary-padding-y: $padding-y-base !default; // no token atm
$buttons-secondary-text: $white !default;
$buttons-secondary-text-hover: $white !default;
$buttons-secondary-text-focus: $white !default; // no token atm
$buttons-secondary-text-active: $white !default; // no token atm
$buttons-secondary-text-disabled: $white !default;


// Size
$buttons-sm-text-font-family: $font-family-base !default;
$buttons-sm-text-font-size: $font-size-sm !default;
$buttons-sm-text-font-weight: normal !default;
$buttons-sm-text-letter-spacing: normal !default;
$buttons-sm-text-line-height: $line-height-sm !default;
$buttons-sm-text-text-decoration: none !default;
$buttons-sm-padding-x: $padding-x-sm !default;
$buttons-sm-padding-y: $padding-y-sm !default;
$buttons-sm-radius: $border-radius-sm !default;

$buttons-lg-text-font-family: $font-family-base !default;
$buttons-lg-text-font-size: $font-size-lg !default;
$buttons-lg-text-font-weight: normal !default;
$buttons-lg-text-letter-spacing: normal !default;
$buttons-lg-text-line-height: $line-height-lg !default;
$buttons-lg-text-text-decoration: none !default;
$buttons-lg-padding-x: $padding-x-lg !default;
$buttons-lg-padding-y: $padding-y-lg !default;
$buttons-lg-radius: $border-radius-lg !default;


$buttons: (
    border-radius: $buttons-radius,
    font-size: $buttons-text-font-size,
    font-weight: $buttons-text-font-weight,
    letter-spacing: $buttons-text-letter-spacing,
    line-height: $buttons-text-line-height,
    padding-x: $buttons-padding-x,
    padding-y: $buttons-padding-y,
    text-decoration: $buttons-text-text-decoration,
    transition: all .3s ease-in-out,

    primary: (
        active-bg: $buttons-primary-bg-active,
        active-color: $buttons-primary-text-active,
        bg: $buttons-primary-bg,
        border-color: $buttons-primary-border,
        border-width: $buttons-primary-border-width,
        color: $buttons-primary-text,
        disabled-bg: $buttons-primary-bg-disabled,
        disabled-border: $buttons-primary-border-disabled,
        disabled-color: $buttons-primary-text-disabled,
        focus-bg: $buttons-primary-bg-focus,
        focus-color: $buttons-primary-text-focus,
        hover-bg: $buttons-primary-bg-hover,
        hover-border-color: $buttons-primary-border-hover,
        hover-color: $buttons-primary-text-hover
    ),

    secondary: (
        active-bg: $buttons-secondary-bg-active,
        active-color: $buttons-secondary-text-active,
        bg: $buttons-secondary-bg,
        border-color: $buttons-secondary-border,
        border-width: $buttons-secondary-border-width,
        color: $buttons-secondary-text,
        disabled-bg: $buttons-secondary-bg-disabled,
        disabled-border: $buttons-secondary-border-disabled,
        disabled-color: $buttons-secondary-text-disabled,
        focus-bg: $buttons-secondary-bg-focus,
        focus-color: $buttons-secondary-text-focus,
        hover-bg: $buttons-secondary-bg-hover,
        hover-color: $buttons-secondary-text-hover,
        hover-border-color: $buttons-secondary-border-hover
    )
);


// ------------------------------------------
// Links
// ------------------------------------------
$link-color: theme-color("white") !default;
$link-decoration: none !default;
$link-hover-color: theme-color("primary") !default;
$link-hover-decoration: none !default;