// ------------------------------------------
// Options
// - Quickly modify global styling by enabling or disabling optional features.
// ------------------------------------------

// Base
$base-font-size: 16px !default;
$base-font-size-sm: 14px !default;
$base-font-size-lg: 20px !default;
$base-line-heigth: 21px !default; // <-- fix typo "heigth"
$base-line-heigth-sm: $base-line-heigth * .75 !default;
$base-line-heigth-lg: $base-line-heigth * 1.33 !default;
$base-font-family: Arial !default;
$body-color: #555555 !default;

// Need to keep $line-height-base for bootstrap variables...
$line-height-base: 1.5 !default;

// Animation
$default-timing: .2s !default;
$default-ease: ease-in-out !default;
$default-animation: all $default-timing $default-ease !default;

$enable-rounded: true !default;
$enable-transitions: true !default;
$enable-prefers-reduced-motion-media-query: true !default;

$border-radius: 8px !default;
$border-radius-sm: 6px !default;
$border-radius-lg: 8px !default;

$box-shadow-base: 0px 0px 30px 0px #0000001a !default;

$padding-x-base: .75rem !default;
$padding-y-base: .375rem !default;
$padding-x-sm: .5rem !default;
$padding-y-sm: .25rem !default;
$padding-x-lg: 1rem !default;
$padding-y-lg: .5rem !default;

$font-family-base: Arial, Helvetica, sans-serif;

// ------------------------------------------
// Breakpoints
// - Define the minimum dimensions at which your layout will change,
// - adapting to different screen sizes, for use in media queries.
// ------------------------------------------

$breakpoint-xs: 0 !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1400px !default;

$grid-breakpoints: (
    xs: $breakpoint-xs,
    sm: $breakpoint-sm,
    md: $breakpoint-md,
    lg: $breakpoint-lg,
    xl: $breakpoint-xl,
    xxl: $breakpoint-xxl,
);

// ------------------------------------------
// Buttons
// - Shared variables that are reassigned `$buttons-` specific variables. Define text, background, and border color
// ------------------------------------------

$btn-hover-bg-shade-amount: 15% !default;
$btn-hover-bg-tint-amount: 15% !default;
$btn-hover-border-shade-amount: 15% !default;
$btn-hover-border-tint-amount: 15% !default;

$btn-active-bg-shade-amount: 20% !default;
$btn-active-bg-tint-amount: 20% !default;
$btn-active-border-shade-amount: 20% !default;
$btn-active-border-tint-amount: 20% !default;

// Base Variables, overriden by tokens
$buttons-default-border-width: 0 !default; // no token atm
$buttons-drop-shadow: $box-shadow-base !default;
$buttons-drop-shadow-focus: 0px 0px 0px 3px #ffffff,0px 0px 2px 3px #ffffff,0px 0px 4px 5px #5fb0fc,0px 0px 2px 5px #8ec6fc !default;
$buttons-text-font-family: $font-family-base !default;
$buttons-text-font-size: $base-font-size !default;
$buttons-text-font-weight: normal !default;
$buttons-text-line-height: $base-line-heigth !default;
$buttons-text-letter-spacing: normal !default;
$buttons-text-paragraph-spacing: 0 !default;
$buttons-text-text-case: none !default;
$buttons-text-text-decoration: none !default;
$buttons-padding-x: $padding-x-base !default;
$buttons-padding-y: $padding-y-base !default;
$buttons-radius: $border-radius !default;
$buttons-lg-radius: $border-radius-lg !default;
$buttons-sm-radius: $border-radius-sm !default;
$buttons-text-transform: none !default; // no token atm

// Primary
$buttons-primary-bg: $primary !default;
$buttons-primary-bg-hover: shade-color($primary, $btn-hover-bg-shade-amount) !default;
$buttons-primary-bg-focus: null !default; // no token atm
$buttons-primary-bg-active: null !default; // no token atm
$buttons-primary-bg-disabled: $disabled !default;
$buttons-primary-border: $primary !default;
$buttons-primary-border-hover: shade-color($primary, $btn-hover-border-shade-amount) !default;
$buttons-primary-border-disabled: $disabled !default;
$buttons-primary-border-width: 0 !default;
$buttons-primary-text: $white !default;
$buttons-primary-text-hover: $white !default;
$buttons-primary-text-focus: $white !default; // no token atm
$buttons-primary-text-active: $white !default; // no token atm
$buttons-primary-text-disabled: $white !default; // no token atm

// Secondary
$buttons-secondary-bg: $secondary !default;
$buttons-secondary-bg-hover: shade-color($secondary, $btn-hover-bg-shade-amount) !default;
$buttons-secondary-bg-focus: null !default; // no token atm
$buttons-secondary-bg-active: null !default; // no token atm
$buttons-secondary-bg-disabled: $disabled !default; // no token atm
$buttons-secondary-border: $primary !default;
$buttons-secondary-border-hover: shade-color($secondary, $btn-hover-border-shade-amount) !default; // no token atm
$buttons-secondary-border-disabled: $disabled !default;
$buttons-secondary-border-width: 0 !default;
$buttons-secondary-padding-x: $padding-x-base !default; // no token atm
$buttons-secondary-padding-y: $padding-y-base !default; // no token atm
$buttons-secondary-text: $white !default;
$buttons-secondary-text-hover: $white !default;
$buttons-secondary-text-focus: $white !default; // no token atm
$buttons-secondary-text-active: $white !default; // no token atm
$buttons-secondary-text-disabled: $white !default;

// Primary Dark
$buttons-primary-dark-bg: linear-gradient(180deg, #ffffffe6 0%, #ffffff 100%) !default;
$buttons-primary-dark-bg-hover: linear-gradient(180deg, #ffffffcc 0%, #ffffffcc 100%) !default;
$buttons-primary-dark-text: #003778 !default;
$buttons-primary-dark-bg-disabled: #ffffff4d !default;
$buttons-primary-dark-text-disabled: #c2cedf80 !default;

// Secondary dark
$buttons-secondary-dark-border: $white !default;
$buttons-secondary-dark-text: $white !default;
$buttons-secondary-dark-border-hover: #C2CEDF !default;
$buttons-secondary-dark-text-hover: #C2CEDF !default;
$buttons-secondary-dark-border-disabled: #c2cedf80 !default;
$buttons-secondary-dark-text-disabled: #c2cedf80 !default;

// Icon
$buttons-icon-gap: 6px !default;

// Size
$buttons-sm-text-font-family: $font-family-base !default;
$buttons-sm-text-font-size: $base-font-size-sm !default;
$buttons-sm-text-font-weight: normal !default;
$buttons-sm-text-letter-spacing: normal !default;
$buttons-sm-text-line-height: $base-line-heigth-sm !default;
$buttons-sm-text-text-decoration: none !default;
$buttons-sm-padding-x: $padding-x-sm !default;
$buttons-sm-padding-y: $padding-y-sm !default;
$buttons-sm-radius: $border-radius-sm !default;

$buttons-lg-text-font-family: $font-family-base !default;
$buttons-lg-text-font-size: $base-font-size-lg !default;
$buttons-lg-text-font-weight: normal !default;
$buttons-lg-text-letter-spacing: normal !default;
$buttons-lg-text-line-height: $base-line-heigth-lg !default;
$buttons-lg-text-text-decoration: none !default;
$buttons-lg-padding-x: $padding-x-lg !default;
$buttons-lg-padding-y: $padding-y-lg !default;
$buttons-lg-radius: $border-radius-lg !default;


$buttons: (
    border-radius: $buttons-radius,
    font-size: $buttons-text-font-size,
    font-weight: $buttons-text-font-weight,
    letter-spacing: $buttons-text-letter-spacing,
    line-height: $buttons-text-line-height,
    padding-x: $buttons-padding-x,
    padding-y: $buttons-padding-y,
    text-decoration: $buttons-text-text-decoration,
    transition: all .3s ease-in-out,
    focus-drop-shadow: $buttons-drop-shadow-focus,

    primary: (
        active-bg: $buttons-primary-bg-active,
        active-color: $buttons-primary-text-active,
        bg: $buttons-primary-bg,
        border-color: $buttons-primary-border,
        border-width: $buttons-primary-border-width,
        color: $buttons-primary-text,
        disabled-bg: $buttons-primary-bg-disabled,
        disabled-border: $buttons-primary-border-disabled,
        disabled-color: $buttons-primary-text-disabled,
        focus-bg: $buttons-primary-bg-focus,
        focus-color: $buttons-primary-text-focus,
        hover-bg: $buttons-primary-bg-hover,
        hover-border-color: $buttons-primary-border-hover,
        hover-color: $buttons-primary-text-hover
    ),

    secondary: (
        active-bg: $buttons-secondary-bg-active,
        active-color: $buttons-secondary-text-active,
        bg: $buttons-secondary-bg,
        border-color: $buttons-secondary-border,
        border-width: $buttons-secondary-border-width,
        color: $buttons-secondary-text,
        disabled-bg: $buttons-secondary-bg-disabled,
        disabled-border: $buttons-secondary-border-disabled,
        disabled-color: $buttons-secondary-text-disabled,
        focus-bg: $buttons-secondary-bg-focus,
        focus-color: $buttons-secondary-text-focus,
        hover-bg: $buttons-secondary-bg-hover,
        hover-color: $buttons-secondary-text-hover,
        hover-border-color: $buttons-secondary-border-hover
    ),

    primary-dark: (
        bg: $buttons-primary-dark-bg,
        hover-bg: $buttons-primary-dark-bg-hover,
        color: $buttons-primary-dark-text,
        disabled-bg: $buttons-primary-dark-bg-disabled,
        disabled-color: $buttons-primary-dark-text-disabled,
    ),

    secondary-dark: (
        border-color: $buttons-secondary-dark-border,
        color: $buttons-secondary-dark-text,
        hover-border: $buttons-secondary-dark-border-hover,
        hover-color: $buttons-secondary-dark-text-hover,
        disabled-border: $buttons-secondary-dark-border-disabled,
        disabled-color: $buttons-secondary-dark-text-disabled,
    ),

    icon: (
        color: $buttons-primary-dark-text,
        icon-gap: $buttons-icon-gap,
    )
);

// ------------------------------------------
// Cards
// ------------------------------------------
$cards-radius: $border-radius !default;
$cards-drop-shadow: $box-shadow-base !default;
$cards-bg: $white !default;
$cards-border: #E1E1E1 !default;
$cards-padding-x: $padding-x-base !default;
$cards-padding-y: $padding-y-base !default;
$cards-border-width: 1px !default;
$cards-drop-shadow-hover: 0px 8px 30px 20px #00000033 !default;
$cards-border-selected: #C2CEDF !default;
$cards-bg-hover: #f1f1f1 !default;
$cards-border-hover: #E1E1E1 !default;
$cards-bg-selected: #C2CEDF !default;
$cards-bg-overlay: #000000bf !default;
$cards-drop-shadow-selected: 0px 8px 30px 20px #00000033 !default;

$cards: (
    background-color: $cards-bg,
    background-overlay: $cards-bg-overlay,
    border-color: $cards-border,
    border-radius: $cards-radius,
    border-width: $cards-border-width,
    box-shadow: $cards-drop-shadow,
    padding-x: $cards-padding-x,
    padding-y: $cards-padding-y,
    hover-background: $cards-bg-hover,
    hover-border-color: $cards-border-hover,
    hover-box-shadow: $cards-drop-shadow-hover,
    selected-background: $cards-bg-selected,
    selected-border-color: $cards-border-selected, 
    selected-box-shadow: $cards-drop-shadow-selected,
);

// ------------------------------------------
// Typography
// ------------------------------------------
$body-regular-font-family: $font-family-base !default;
$body-regular-font-weight: 400 !default;
$body-regular-line-height: $base-line-heigth !default;
$body-regular-font-size: $base-font-size !default;
$body-regular-letter-spacing: 0px !default;
$body-regular-paragraph-spacing: 18px !default;
$body-regular-text-decoration: none !default;
$body-regular-text-case: none !default;

$body-large-font-family: $font-family-base !default;
$body-large-font-weight: 400 !default;
$body-large-line-height: $base-line-heigth-lg !default;
$body-large-font-size: $base-font-size-lg !default;
$body-large-letter-spacing: 0px !default;
$body-large-paragraph-spacing: 22px !default;
$body-large-text-decoration: none !default;
$body-large-text-case: none !default;

$body-small-font-family: $font-family-base !default;
$body-small-font-weight: 400 !default;
$body-small-line-height: $base-line-heigth-sm !default;
$body-small-font-size: $base-font-size-sm !default;
$body-small-letter-spacing: 0px !default;
$body-small-paragraph-spacing: 14px !default;
$body-small-text-decoration: none !default;
$body-small-text-case: none !default;

$body-text: (
    regular: (
        font-family: $body-regular-font-family,
        font-size: $body-regular-font-size,
        font-weight: $body-regular-font-weight,
        letter-spacing: $body-regular-letter-spacing,
        line-height: $body-regular-line-height,
        margin-bottom: $body-regular-paragraph-spacing,
        text-decoration: $body-regular-text-decoration,
        text-transform: $body-regular-text-case,
    ),

    large: (
        font-family: $body-large-font-family,
        font-size: $body-large-font-size,
        font-weight: $body-large-font-weight,
        letter-spacing: $body-large-letter-spacing,
        line-height: $body-large-line-height,
        margin-bottom: $body-large-paragraph-spacing,
        text-decoration: $body-large-text-decoration,
        text-transform: $body-large-text-case,
    ),

    small: (
        font-family: $body-small-font-family,
        font-size: $body-small-font-size,
        font-weight: $body-small-font-weight,
        letter-spacing: $body-small-letter-spacing,
        line-height: $body-small-line-height,
        margin-bottom: $body-small-paragraph-spacing,
        text-decoration: $body-small-text-decoration,
        text-transform: $body-small-text-case,
    ),
);

$h1-font-size: $base-font-size * 2.5 !default;
$h2-font-size: $base-font-size * 2 !default;
$h3-font-size: $base-font-size * 1.75 !default;
$h4-font-size: $base-font-size * 1.5 !default;
$h5-font-size: $base-font-size * 1.25 !default;
$h6-font-size: $base-font-size !default;

// H1 - Headings 1
$headings-desktop-h1-font-family: $font-family-base !default;
$headings-desktop-h1-font-weight: bold !default;
$headings-desktop-h1-line-height: $base-line-heigth !default;
$headings-desktop-h1-font-size: $h1-font-size !default;
$headings-desktop-h1-letter-spacing: normal !default;
$headings-desktop-h1-paragraph-spacing: null !default;
$headings-desktop-h1-text-decoration: none !default;
$headings-desktop-h1-text-case: none !default;

$headings-tablet-h1-font-family: null !default;
$headings-tablet-h1-font-weight: null !default;
$headings-tablet-h1-line-height: null!default;
$headings-tablet-h1-font-size: null !default;
$headings-tablet-h1-letter-spacing: null !default;
$headings-tablet-h1-paragraph-spacing: null !default;
$headings-tablet-h1-text-decoration: null !default;
$headings-tablet-h1-text-case: null !default;

$headings-mobile-h1-font-family: null !default;
$headings-mobile-h1-font-weight: null !default;
$headings-mobile-h1-line-height: null!default;
$headings-mobile-h1-font-size: null !default;
$headings-mobile-h1-letter-spacing: null !default;
$headings-mobile-h1-paragraph-spacing: null !default;
$headings-mobile-h1-text-decoration: null !default;
$headings-mobile-h1-text-case: null !default;

$h1: (
    desktop: (
        font-family: $headings-desktop-h1-font-family,
        font-weight: $headings-desktop-h1-font-weight,
        line-height: $headings-desktop-h1-line-height,
        font-size: $headings-desktop-h1-font-size,
        letter-spacing: $headings-desktop-h1-letter-spacing,
        text-decoration: $headings-desktop-h1-text-decoration,
        text-transform: $headings-desktop-h1-text-case
    ),
    tablet: (
        font-family: $headings-tablet-h1-font-family,
        font-weight: $headings-tablet-h1-font-weight,
        line-height: $headings-tablet-h1-line-height,
        font-size: $headings-tablet-h1-font-size,
        letter-spacing: $headings-tablet-h1-letter-spacing,
        text-decoration: $headings-tablet-h1-text-decoration,
        text-transform: $headings-tablet-h1-text-case,
    ),
    mobile: (
        font-family: $headings-mobile-h1-font-family,
        font-weight: $headings-mobile-h1-font-weight,
        line-height: $headings-mobile-h1-line-height,
        font-size: $headings-mobile-h1-font-size,
        letter-spacing: $headings-mobile-h1-letter-spacing,
        text-decoration: $headings-mobile-h1-text-decoration,
        text-transform: $headings-mobile-h1-text-case,
    )
);

// H2 - Headings 2
$headings-desktop-h2-font-family: $font-family-base !default;
$headings-desktop-h2-font-weight: bold !default;
$headings-desktop-h2-line-height: $base-line-heigth !default;
$headings-desktop-h2-font-size: $h2-font-size !default;
$headings-desktop-h2-letter-spacing: normal !default;
$headings-desktop-h2-paragraph-spacing: null !default;
$headings-desktop-h2-text-decoration: none !default;
$headings-desktop-h2-text-case: none !default;

$headings-tablet-h2-font-family: null !default;
$headings-tablet-h2-font-weight: null !default;
$headings-tablet-h2-line-height: null !default;
$headings-tablet-h2-font-size: null !default;
$headings-tablet-h2-letter-spacing: null !default;
$headings-tablet-h2-paragraph-spacing: null !default;
$headings-tablet-h2-text-decoration: null !default;
$headings-tablet-h2-text-case: null !default;

$headings-mobile-h2-font-family: null !default;
$headings-mobile-h2-font-weight: null !default;
$headings-mobile-h2-line-height: null !default;
$headings-mobile-h2-font-size: null !default;
$headings-mobile-h2-letter-spacing: null !default;
$headings-mobile-h2-paragraph-spacing: null !default;
$headings-mobile-h2-text-decoration: null !default;
$headings-mobile-h2-text-case: null !default;

$h2: (
    desktop: (
        font-family: $headings-desktop-h2-font-family,
        font-weight: $headings-desktop-h2-font-weight,
        line-height: $headings-desktop-h2-line-height,
        font-size: $headings-desktop-h2-font-size,
        letter-spacing: $headings-desktop-h2-letter-spacing,
        text-decoration: $headings-desktop-h2-text-decoration,
        text-transform: $headings-desktop-h2-text-case
    ),
    tablet: (
        font-family: $headings-tablet-h2-font-family,
        font-weight: $headings-tablet-h2-font-weight,
        line-height: $headings-tablet-h2-line-height,
        font-size: $headings-tablet-h2-font-size,
        letter-spacing: $headings-tablet-h2-letter-spacing,
        text-decoration: $headings-tablet-h2-text-decoration,
        text-transform: $headings-tablet-h2-text-case,
    ),
    mobile: (
        font-family: $headings-mobile-h2-font-family,
        font-weight: $headings-mobile-h2-font-weight,
        line-height: $headings-mobile-h2-line-height,
        font-size: $headings-mobile-h2-font-size,
        letter-spacing: $headings-mobile-h2-letter-spacing,
        text-decoration: $headings-mobile-h2-text-decoration,
        text-transform: $headings-mobile-h2-text-case,
    )
);

// H3 - Headings 3
$headings-desktop-h3-font-family: $font-family-base !default;
$headings-desktop-h3-font-weight: bold !default;
$headings-desktop-h3-line-height: $base-line-heigth !default;
$headings-desktop-h3-font-size: $h3-font-size !default;
$headings-desktop-h3-letter-spacing: normal !default;
$headings-desktop-h3-paragraph-spacing: null !default;
$headings-desktop-h3-text-decoration: none !default;
$headings-desktop-h3-text-case: none !default;

$headings-tablet-h3-font-family: null !default;
$headings-tablet-h3-font-weight: null !default;
$headings-tablet-h3-line-height: null !default;
$headings-tablet-h3-font-size: null !default;
$headings-tablet-h3-letter-spacing: null !default;
$headings-tablet-h3-paragraph-spacing: null !default;
$headings-tablet-h3-text-decoration: null !default;
$headings-tablet-h3-text-case: null !default;

$headings-mobile-h3-font-family: null !default;
$headings-mobile-h3-font-weight: null !default;
$headings-mobile-h3-line-height: null!default;
$headings-mobile-h3-font-size: null !default;
$headings-mobile-h3-letter-spacing: null !default;
$headings-mobile-h3-paragraph-spacing: null !default;
$headings-mobile-h3-text-decoration: null !default;
$headings-mobile-h3-text-case: null !default;

$h3: (
    desktop: (
        font-family: $headings-desktop-h3-font-family,
        font-weight: $headings-desktop-h3-font-weight,
        line-height: $headings-desktop-h3-line-height,
        font-size: $headings-desktop-h3-font-size,
        letter-spacing: $headings-desktop-h3-letter-spacing,
        text-decoration: $headings-desktop-h3-text-decoration,
        text-transform: $headings-desktop-h3-text-case
    ),
    tablet: (
        font-family: $headings-tablet-h3-font-family,
        font-weight: $headings-tablet-h3-font-weight,
        line-height: $headings-tablet-h3-line-height,
        font-size: $headings-tablet-h3-font-size,
        letter-spacing: $headings-tablet-h3-letter-spacing,
        text-decoration: $headings-tablet-h3-text-decoration,
        text-transform: $headings-tablet-h3-text-case,
    ),
    mobile: (
        font-family: $headings-mobile-h3-font-family,
        font-weight: $headings-mobile-h3-font-weight,
        line-height: $headings-mobile-h3-line-height,
        font-size: $headings-mobile-h3-font-size,
        letter-spacing: $headings-mobile-h3-letter-spacing,
        text-decoration: $headings-mobile-h3-text-decoration,
        text-transform: $headings-mobile-h3-text-case,
    )
);

// H4 - Headings 4
$headings-desktop-h4-font-family: $font-family-base !default;
$headings-desktop-h4-font-weight: bold !default;
$headings-desktop-h4-line-height: $base-line-heigth !default;
$headings-desktop-h4-font-size: $h4-font-size !default;
$headings-desktop-h4-letter-spacing: normal !default;
$headings-desktop-h4-paragraph-spacing: null !default;
$headings-desktop-h4-text-decoration: none !default;
$headings-desktop-h4-text-case: none !default;

$headings-tablet-h4-font-family: null !default;
$headings-tablet-h4-font-weight: null !default;
$headings-tablet-h4-line-height: null !default;
$headings-tablet-h4-font-size: null !default;
$headings-tablet-h4-letter-spacing: null !default;
$headings-tablet-h4-paragraph-spacing: null !default;
$headings-tablet-h4-text-decoration: null !default;
$headings-tablet-h4-text-case: null !default;

$headings-mobile-h4-font-family: null !default;
$headings-mobile-h4-font-weight: null !default;
$headings-mobile-h4-line-height: null !default;
$headings-mobile-h4-font-size: null !default;
$headings-mobile-h4-letter-spacing: null !default;
$headings-mobile-h4-paragraph-spacing: null !default;
$headings-mobile-h4-text-decoration: null !default;
$headings-mobile-h4-text-case: null !default;

$h4: (
    desktop: (
        font-family: $headings-desktop-h4-font-family,
        font-weight: $headings-desktop-h4-font-weight,
        line-height: $headings-desktop-h4-line-height,
        font-size: $headings-desktop-h4-font-size,
        letter-spacing: $headings-desktop-h4-letter-spacing,
        text-decoration: $headings-desktop-h4-text-decoration,
        text-transform: $headings-desktop-h4-text-case
    ),
    tablet: (
        font-family: $headings-tablet-h4-font-family,
        font-weight: $headings-tablet-h4-font-weight,
        line-height: $headings-tablet-h4-line-height,
        font-size: $headings-tablet-h4-font-size,
        letter-spacing: $headings-tablet-h4-letter-spacing,
        text-decoration: $headings-tablet-h4-text-decoration,
        text-transform: $headings-tablet-h4-text-case,
    ),
    mobile: (
        font-family: $headings-mobile-h4-font-family,
        font-weight: $headings-mobile-h4-font-weight,
        line-height: $headings-mobile-h4-line-height,
        font-size: $headings-mobile-h4-font-size,
        letter-spacing: $headings-mobile-h4-letter-spacing,
        text-decoration: $headings-mobile-h4-text-decoration,
        text-transform: $headings-mobile-h4-text-case,
    )
);

// H5 - Headings 5
$headings-desktop-h5-font-family: $font-family-base !default;
$headings-desktop-h5-font-weight: bold !default;
$headings-desktop-h5-line-height: $base-line-heigth-sm !default;
$headings-desktop-h5-font-size: $h5-font-size !default;
$headings-desktop-h5-letter-spacing: normal !default;
$headings-desktop-h5-paragraph-spacing: null !default;
$headings-desktop-h5-text-decoration: none !default;
$headings-desktop-h5-text-case: none !default;

$headings-tablet-h5-font-family: null !default;
$headings-tablet-h5-font-weight: null !default;
$headings-tablet-h5-line-height: null !default;
$headings-tablet-h5-font-size: null !default;
$headings-tablet-h5-letter-spacing: null !default;
$headings-tablet-h5-paragraph-spacing: null !default;
$headings-tablet-h5-text-decoration: null !default;
$headings-tablet-h5-text-case: null !default;

$headings-mobile-h5-font-family: null !default;
$headings-mobile-h5-font-weight: null !default;
$headings-mobile-h5-line-height: null !default;
$headings-mobile-h5-font-size: null !default;
$headings-mobile-h5-letter-spacing: null !default;
$headings-mobile-h5-paragraph-spacing: null !default;
$headings-mobile-h5-text-decoration: null !default;
$headings-mobile-h5-text-case: null !default;

$h5: (
    desktop: (
        font-family: $headings-desktop-h5-font-family,
        font-weight: $headings-desktop-h5-font-weight,
        line-height: $headings-desktop-h5-line-height,
        font-size: $headings-desktop-h5-font-size,
        letter-spacing: $headings-desktop-h5-letter-spacing,
        text-decoration: $headings-desktop-h5-text-decoration,
        text-transform: $headings-desktop-h5-text-case
    ),
    tablet: (
        font-family: $headings-tablet-h5-font-family,
        font-weight: $headings-tablet-h5-font-weight,
        line-height: $headings-tablet-h5-line-height,
        font-size: $headings-tablet-h5-font-size,
        letter-spacing: $headings-tablet-h5-letter-spacing,
        text-decoration: $headings-tablet-h5-text-decoration,
        text-transform: $headings-tablet-h5-text-case,
    ),
    mobile: (
        font-family: $headings-mobile-h5-font-family,
        font-weight: $headings-mobile-h5-font-weight,
        line-height: $headings-mobile-h5-line-height,
        font-size: $headings-mobile-h5-font-size,
        letter-spacing: $headings-mobile-h5-letter-spacing,
        text-decoration: $headings-mobile-h5-text-decoration,
        text-transform: $headings-mobile-h5-text-case,
    )
);

// H6 - Headings 6
$headings-desktop-h6-font-family: $font-family-base !default;
$headings-desktop-h6-font-weight: bold !default;
$headings-desktop-h6-line-height: $base-line-heigth-sm !default;
$headings-desktop-h6-font-size: $h6-font-size !default;
$headings-desktop-h6-letter-spacing: normal !default;
$headings-desktop-h6-paragraph-spacing: null !default;
$headings-desktop-h6-text-decoration: none !default;
$headings-desktop-h6-text-case: none !default;

$headings-tablet-h6-font-family: null !default;
$headings-tablet-h6-font-weight: null !default;
$headings-tablet-h6-line-height: null !default;
$headings-tablet-h6-font-size: null !default;
$headings-tablet-h6-letter-spacing: null !default;
$headings-tablet-h6-paragraph-spacing: null !default;
$headings-tablet-h6-text-decoration: null !default;
$headings-tablet-h6-text-case: null !default;

$headings-mobile-h6-font-family: null !default;
$headings-mobile-h6-font-weight: null !default;
$headings-mobile-h6-line-height: null !default;
$headings-mobile-h6-font-size: null !default;
$headings-mobile-h6-letter-spacing: null !default;
$headings-mobile-h6-paragraph-spacing: null !default;
$headings-mobile-h6-text-decoration: null !default;
$headings-mobile-h6-text-case: null !default;

$h6: (
    desktop: (
        font-family: $headings-desktop-h6-font-family,
        font-weight: $headings-desktop-h6-font-weight,
        line-height: $headings-desktop-h6-line-height,
        font-size: $headings-desktop-h6-font-size,
        letter-spacing: $headings-desktop-h6-letter-spacing,
        text-decoration: $headings-desktop-h6-text-decoration,
        text-transform: $headings-desktop-h6-text-case
    ),
    tablet: (
        font-family: $headings-tablet-h6-font-family,
        font-weight: $headings-tablet-h6-font-weight,
        line-height: $headings-tablet-h6-line-height,
        font-size: $headings-tablet-h6-font-size,
        letter-spacing: $headings-tablet-h6-letter-spacing,
        text-decoration: $headings-tablet-h6-text-decoration,
        text-transform: $headings-tablet-h6-text-case,
    ),
    mobile: (
        font-family: $headings-mobile-h6-font-family,
        font-weight: $headings-mobile-h6-font-weight,
        line-height: $headings-mobile-h6-line-height,
        font-size: $headings-mobile-h6-font-size,
        letter-spacing: $headings-mobile-h6-letter-spacing,
        text-decoration: $headings-mobile-h6-text-decoration,
        text-transform: $headings-mobile-h6-text-case,
    )
);

// ------------------------------------------
// Labels
// ------------------------------------------
$forms-label-font-family: '$fontFamilies' !default;
$forms-label-font-weight: 700 !default;
$forms-label-line-height: 18px !default;
$forms-label-font-size: 14px !default;
$forms-label-letter-spacing: 0px !default;
$forms-label-paragraph-spacing: 5px !default;
$forms-label-text-decoration: none !default;
$forms-label-text-case: none !default;



$labels: (
    regular: (
        font-family: $forms-label-font-family,
        font-size: $forms-label-font-size,
        font-weight: $forms-label-font-weight,
        letter-spacing: $forms-label-letter-spacing,
        line-height: $forms-label-line-height,
        margin-bottom: $forms-label-paragraph-spacing,
        text-decoration: $forms-label-text-decoration,
        text-transform: $forms-label-text-case,
    )
);

// ------------------------------------------
// Inputs
// ------------------------------------------
$inputs-bg: $white !default;
$inputs-border: #D4D4D4 !default;
$inputs-border-focus: $primary !default;
$inputs-bg-disabled: #F4F4F4 !default;
$inputs-text: #555555 !default;
$inputs-placeholder: #999999 !default;
$inputs-radius: $border-radius-sm !default;
$inputs-border-width: 1px !default;
$inputs-border-invalid: #BD2025 !default;
$inputs-padding-x: $padding-x-base !default;
$inputs-padding-y: $padding-y-base !default;
$inputs-text-font-family: $font-family-base !default;
$inputs-text-font-weight: 400 !default;
$inputs-text-line-height: $line-height-base !default;
$inputs-text-font-size: $base-font-size !default;
$inputs-text-letter-spacing: 0px !default;
$inputs-text-paragraph-spacing: 0px !default;
$inputs-text-text-decoration: none !default;
$inputs-text-text-case: none !default;
$inputs-drop-shadow-focus: null !default;

$inputs: (
    background-color: $inputs-bg,
    border-color: $inputs-border,
    border-radius: $inputs-radius,
    border-width: $inputs-border-width,
    color: $inputs-text,
    color-placeholder: $inputs-placeholder,
    font-family: $inputs-text-font-family,
    font-size: $inputs-text-font-size,
    font-weight: $inputs-text-font-weight,
    letter-spacing: $inputs-text-letter-spacing,
    line-height: $inputs-text-line-height,
    margin-bottom: $inputs-text-paragraph-spacing,
    padding-x: $inputs-padding-x,
    padding-y: $inputs-padding-y,
    text-decoration: $inputs-text-text-decoration,
    text-transform: $inputs-text-text-case,
    disabled-background: $inputs-bg-disabled,
    focus-border-color: $inputs-border-focus,
    focus-drop-shadow: $inputs-drop-shadow-focus,
    invalid-border-color: $inputs-border-invalid,
);

// ------------------------------------------
// Checkboxes / Radios
// ------------------------------------------
$form-check-input-class: 'custom-check';
$form-check-input-bg: $white !default;
$form-check-input-bg-checked: #003778 !default;
$form-check-input-bg-checked-hover: #00549A !default;
$form-check-input-bg-disabled-checked: #BABEC2 !default;
$form-check-input-border: #555555 !default;
$form-check-input-border-checked: #003778 !default;
$form-check-input-border-checked-hover: #00549A !default;
$form-check-input-border-width: 1px !default;
$form-check-input-height: 16px !default;
$form-check-input-height-lg: 22px !default;
$form-check-input-input-margin-right: 8px !default; // <-- to remove ?
$form-check-input-input-margin-top: 4px !default; // <-- to remove ?
$form-check-input-margin-right: 8px !default;
$form-check-input-width: 16px !default;
$form-check-input-width-lg: 22px !default;
$form-check-input-checked-color: $white !default;
$form-check-input-bg-disabled: #f4f4f4 !default;
$form-check-input-border-disabled: #BABEC2 !default;
$form-check-input-borde-invalid: #BD2025 !default;

$form-check-label-font-family: $font-family-base !default;
$form-check-label-font-weight: 400 !default;
$form-check-label-line-height: 18px !default;
$form-check-label-font-size: 14px !default;
$form-check-label-letter-spacing: 0px !default;
$form-check-label-paragraph-spacing: 0px !default;
$form-check-label-text-decoration: none !default;
$form-check-label-text-case: none !default;

$check-bg-svg: url("data:image/svg+xml,<svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M2.70711 8.29289C3.09763 7.90237 3.7308 7.90237 4.12132 8.29289L6.24264 10.4142L11.1924 5.46447C11.5829 5.07394 12.2161 5.07394 12.6066 5.46447C12.9971 5.85499 12.9971 6.48816 12.6066 6.87868L6.94975 12.5355C6.55922 12.9261 5.92606 12.9261 5.53553 12.5355L2.70711 9.70711C2.31658 9.31658 2.31658 8.68342 2.70711 8.29289Z' fill='#{$form-check-input-checked-color}'/></svg>") !default;
$check-bg-size-checked: 100% !default;
$radios-bg-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>") !default;

$form-check-check-radius: 4px !default;
$form-check-check-radius-lg: 6px !default;
$form-check-radios-radius: 50% !default;

// Form Check div TODO: See how to manage LG size, also need tokens?
$form-check-padding-start: $form-check-input-width + $form-check-input-margin-right !default;
$form-check-margin-bottom: .25rem !default;
$form-check-min-height: $form-check-input-height;

@if ($form-check-label-line-height > $form-check-min-height) {
    $form-check-min-height: $form-check-label-line-height;
}

$form-check: (
    bg: $form-check-input-bg,
    bg-checked: $form-check-input-bg-checked,
    hover-bg-checked: $form-check-input-bg-checked-hover,
    disabled-bg: $form-check-input-bg-disabled,
    disabled-bg-checked: $form-check-input-bg-disabled-checked,
    border-color: $form-check-input-border,
    hover-border-color: $form-check-input-border-checked-hover,
    disabled-border-color: $form-check-input-border-disabled,
    invalid-border-color: $form-check-input-borde-invalid,
    border-color-checked: $form-check-input-border-checked,
    border-width: $form-check-input-border-width,
    height: $form-check-input-height,
    height-lg: $form-check-input-height-lg,
    icon-color: $form-check-input-checked-color,
    margin-right: $form-check-input-margin-right,
    width: $form-check-input-width,
    width-lg: $form-check-input-width-lg,
    focus-box-shadow: $inputs-drop-shadow-focus,

    checkbox: (
        bg-icon: $check-bg-svg,
        bg-icon-size: $check-bg-size-checked,
        border-radius: $form-check-check-radius,
        border-radius-lg: $form-check-check-radius-lg,
    ),

    radio: (
        bg-icon: $radios-bg-svg,
        border-radius: $form-check-radios-radius,
    ),

    label: (
        font-family: $form-check-label-font-family,
        font-size: $form-check-label-font-size,
        font-weight: $form-check-label-font-weight,
        letter-spacing: $form-check-label-letter-spacing,
        line-height: $form-check-label-line-height,
        margin-bottom: $form-check-label-paragraph-spacing,
        text-decoration: $form-check-label-text-decoration,
        text-transform: $form-check-label-text-case,
    )
);





// ------------------------------------------
// Select
// ------------------------------------------
$select-bg: $inputs-bg !default;
$select-border: $inputs-border !default;
$select-border-focus: $inputs-border-focus !default;
$select-bg-disabled: $inputs-bg-disabled !default;
$select-text: $inputs-text !default;
$select-placeholder: $inputs-placeholder !default;
$select-radius: $inputs-radius !default;
$select-border-width: $inputs-border-width !default;
$select-border-invalid: $inputs-border-invalid !default;
$select-padding-x: $inputs-padding-x !default;
$select-padding-y: $inputs-padding-y !default;
$select-text-font-family: $inputs-text-font-family !default;
$select-text-font-weight: $inputs-text-font-weight !default;
$select-text-line-height: $inputs-text-line-height !default;
$select-text-font-size: $inputs-text-font-size !default;
$select-text-letter-spacing: $inputs-text-letter-spacing !default;
$select-text-paragraph-spacing: $inputs-text-paragraph-spacing !default;
$select-text-text-decoration: $inputs-text-text-decoration !default;
$select-text-text-case: $inputs-text-text-case !default;
$select-drop-shadow-focus: $inputs-drop-shadow-focus !default;

$select-bg-position: right 10px center !default;
$select-bg-size: 10px !default;
$select-indicator-color: $primary !default;
$select-indicator: url("data:image/svg+xml,<svg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M4.5 5L9 0H0L4.5 5Z' fill='#{$select-indicator-color:}'/></svg>") !default;


$selects: (
    background-color: $select-bg,
    border-color: $select-border,
    border-radius: $select-radius,
    border-width: $select-border-width,
    color: $select-text,
    color-placeholder: $select-placeholder,
    font-family: $select-text-font-family,
    font-size: $select-text-font-size,
    font-weight: $select-text-font-weight,
    letter-spacing: $select-text-letter-spacing,
    line-height: $select-text-line-height,
    margin-bottom: $select-text-paragraph-spacing,
    padding-x: $select-padding-x,
    padding-y: $select-padding-y,
    text-decoration: $select-text-text-decoration,
    text-transform: $select-text-text-case,
    disabled-background: $select-bg-disabled,
    focus-border-color: $select-border-focus,
    focus-drop-shadow: $select-drop-shadow-focus,
    invalid-border-color: $select-border-invalid,
    icon: $select-indicator,
    background-position: $select-bg-position,
    background-size: $select-bg-size,
);