$buttons: (
    border-radius: $buttons-radius,
    font-size: $buttons-font-size,
    line-height: $buttons-line-height,
    padding: #{$buttons-padding-y} #{$buttons-padding-x},
    text-decoration: $buttons-text-decoration,
    transition: all .3s ease-in-out,

    primary: (
        bg: $buttons-primary-bg,
        border-color: $buttons-primary-border,
        border-width: $buttons-primary-border-width,
        color: $buttons-primary-text,
        hover-bg: $buttons-primary-bg-hover,
        hover-border-color: $buttons-primary-border-hover,
        hover-color: $buttons-primary-text-hover,
        padding: #{$buttons-primary-padding-y} #{$buttons-primary-padding-x}
        // active-bg: rgba(0,84,154,0.1),
    ),

    secondary: (
        bg: $buttons-secondary-bg,
        border-color: $buttons-secondary-border,
        border-width: $buttons-secondary-border-width,
        color: $buttons-secondary-text,
        hover-bg: $buttons-secondary-bg-hover,
        hover-color: $buttons-secondary-text-hover,
        hover-border-color: $buttons-secondary-border-hover,
        padding: #{$buttons-secondary-padding-y} #{$buttons-secondary-padding-x},
        padding-sm-x: $buttons-secondary-sm-padding-x,
        padding-sm-y: $buttons-secondary-sm-padding-y,
        active-bg: rgba(0,84,154,0.1),
    )
);


@mixin button-variants($button) {
    background: map-get($button, bg);
    border-color: map-get($button, border-color);
    border-width: map-get($button, border-width);
    color: map-get($button, color);
    padding: map-get($button, padding);
    
    &:hover {
        background: map-get($button, hover-bg);
        border-color: map-get($button, hover-border-color);
        color: map-get($button, hover-color);
    }

    @if(map-get($button, padding-sm-x) != null) {
        &.btn-sm {
            padding-right: map-get($button, padding-sm-x);
            padding-left: map-get($button, padding-sm-x);
        }
    }

    @if(map-get($button, padding-sm-y) != null) {
        &.btn-sm {
            padding-top: map-get($button, padding-sm-y);
            padding-bottom: map-get($button, padding-sm-y);
        }
    }
}

/* @mixin button-primary($buttons) {
    background: map-get(map-get($buttons, primary), bg);
    border: map-get(map-get($buttons, primary), border);
    color: map-get(map-get($buttons, primary), color);
    padding-bottom: map-get(map-get($buttons, primary), padding-bottom);
    padding-left: map-get(map-get($buttons, primary), padding-left);
    padding-right: map-get(map-get($buttons, primary), padding-right);
    padding-top: map-get(map-get($buttons, primary), padding-top);
    text-decoration: map-get(map-get($buttons, primary), text-decoration);
    transition: map-get(map-get($buttons, primary), transition);
    &:hover {
        background: map-get(map-get($buttons, primary), hover-bg);
        color: map-get(map-get($buttons, primary), hover-color);
    }
    // &:active {
    //     background: map-get(map-get($buttons, primary), active-bg);
    // }
} */

@mixin button-secondary($buttons) {
    background: map-get(map-get($buttons, secondary), bg);
    border: map-get(map-get($buttons, secondary), border);
    color: map-get(map-get($buttons, secondary), color);
    padding-bottom: map-get(map-get($buttons, secondary), padding-bottom);
    padding-left: map-get(map-get($buttons, secondary), padding-left);
    padding-right: map-get(map-get($buttons, secondary), padding-right);
    padding-top: map-get(map-get($buttons, secondary), padding-top);
    text-decoration: map-get(map-get($buttons, secondary), text-decoration);
    transition: map-get(map-get($buttons, secondary), transition);
    &:hover {
        background: map-get(map-get($buttons, secondary), hover-bg);
        color: map-get(map-get($buttons, secondary), hover-color);
        border-color: map-get(map-get($buttons, secondary), hover-color);
    }
    &:active {
        background: map-get(map-get($buttons, secondary), active-bg);
    }
}