@mixin button-variants($button) {
    background: map-get($button, bg);
    border-color: map-get($button, border-color);
    border-width: map-get($button, border-width);
    color: map-get($button, color);
    padding-left: map-get($button, padding-x) - map-get($button, border-width);
    padding-right: map-get($button, padding-x) - map-get($button, border-width);
    padding-bottom: map-get($button, padding-y) - map-get($button, border-width);
    padding-top: map-get($button, padding-y) - map-get($button, border-width);
    
    &:hover {
        background: map-get($button, hover-bg);
        border-color: map-get($button, hover-border-color);
        color: map-get($button, hover-color);
    }
    &:active {
        background: map-get($button, active-bg);
        color: map-get($button, active-color);
    }
    &:focus {
        background: map-get($button, focus-bg);
        color: map-get($button, focus-color);
    }
    &:disabled, &.disabled {
        background: map-get($button, disabled-bg);
        border-color: map-get($button, disabled-border-color);
        color: map-get($button, disabled-color);
    }

    @if(map-get($button, padding-sm-x) != null) {
        &.btn-sm {
            padding-right: map-get($button, padding-sm-x) - map-get($button, border-width);
            padding-left: map-get($button, padding-sm-x) - map-get($button, border-width);
        }
    }
    @if(map-get($button, padding-sm-y) != null) {
        &.btn-sm {
            padding-top: map-get($button, padding-sm-y) - map-get($button, border-width);
            padding-bottom: map-get($button, padding-sm-y) - map-get($button, border-width);
        }
    }
    @if(map-get($button, padding-lg-x) != null) {
        &.btn-lg {
            padding-right: map-get($button, padding-lg-x) - map-get($button, border-width);
            padding-left: map-get($button, padding-lg-x) - map-get($button, border-width);
        }
    }
    @if(map-get($button, padding-lg-y) != null) {
        &.btn-lg {
            padding-top: map-get($button, padding-lg-y) - map-get($button, border-width);
            padding-bottom: map-get($button, padding-lg-y) - map-get($button, border-width);
        }
    }
}

@mixin button-sizes($padding-y, $padding-x, $font-size, $border-radius, $line-height) {
    border-radius: $border-radius;
    font-size: $font-size;
    line-height: $line-height;
    // padding: $padding-y $padding-x;
}