@mixin label-styles($label) {
    font-family: map-get($label, font-family);
    font-size: map-get($label, font-size);
    font-weight: map-get($label, font-weight);
    letter-spacing: map-get($label, letter-spacing);
    line-height: map-get($label, line-height);
    margin-bottom: map-get($label, margin-bottom);
    @if(map-get($label, text-decoration) != none) {
        text-decoration: map-get($label, text-decoration);
    }
    @if(map-get($label, text-transform) != none) {
        text-transform: map-get($label, text-transform);
    }
}

@mixin check-styles($class, $check) {
    &.#{$class} {
        appearance: none;
        background: map-get($check, bg);
        border-color: map-get($check, border-color);
        border-style: solid;
        border-width: map-get($check, border-width);
        border-radius: map-get($check, border-radius);
        height: map-get($check, height);
        margin-right: map-get($check, margin-right);
        margin-top: map-get($check, margin-top);
        transition: $default-animation;
        width: map-get($check, width);

        &--lg {
            height: map-get($check, height-lg);
            width: map-get($check, width-lg);
        }

        &:not(.disabled):not(:disabled):hover {
            border-color: map-get($check, hover-border-color);
        }
        &:not(.disabled):not(:disabled):focus {
            box-shadow: map-get($check, focus-box-shadow);
        }

        &:checked {
            background-image: escape-svg('#{map-get($check, bg-icon)}');
            background-color: map-get($check, bg-checked);
            background-size: map-get($check, bg-icon-size);
            border-color: map-get($check, border-color-checked);
            &:hover {
                background-color: map-get($check, hover-bg-checked);
            }
        }

        &:disabled, &.disabled {
            background: map-get($check, disabled-bg);
            border-color: map-get($check, disabled-border);
        }
    }
}