body {
    margin: 0;
}

.section {
    &:not(:first-child) {
        margin-top: 32px;
    }
    &__title {
        margin-bottom: 8px;
    }
    &__subtitle {
        color: $primary;
        margin: 0;
    }
    .card {
        margin-top: 32px;
        .card-img-top {
            max-width: 245px;
        }
        &__prices {
            div:first-child {
                margin-right: 20px;
            }
            h3 {
                color: $primary;
                margin-bottom: 0;
                margin-top: 24px;
            }
            h6 {
                color: $buttons-secondary-text-disabled;
                margin: 0;
            }
        }
        &__buttons {
            margin-top: 24px;
            .btn {
                &:not(:last-child) {
                    margin-right: 24px;
                }
            }
        }
    }
}

.footer {
    background: $primary;
    color: $white;
    margin-top: 50px;
    padding: 25px 0;
    width: 100%;
}