body {
    margin: 0;
}

.section {
    &:not(:first-child) {
        margin-top: 32px;
    }
    &__title {
        margin-bottom: 8px;
    }
    &__subtitle {
        color: $primary;
        font-family: $headings-h3-font-family;
        margin: 0;
    }
    .card {
        margin-top: 32px;
    }
}

.footer {
    background: $primary;
    color: $white;
    margin-top: 50px;
    padding: 25px 0;
    width: 100%;
}