body {
    margin: 0;
}

.card {
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    padding: 16px 21px;
    img {
        margin: auto;
        max-width: 245px;
        width: 100%;
    }
    .card-title {
        margin: 24px 0 0;
        text-align: center;
    }
    &__prices {
        div:first-child {
            margin-right: 20px;
        }
        h3 {
            color: $colors-primary;
            margin-bottom: 0;
            margin-top: 24px;
        }
        h6 {
            color: $buttons-secondary-text-disabled;
            margin: 0;
        }
    }
    &__buttons {
        margin-top: 24px;
        .btn {
            &:not(:last-child) {
                margin-right: 24px;
            }
        }
    }
}

.section {
    &:not(:first-child) {
        margin-top: 32px;
    }
    &__title {
        margin-bottom: 8px;
    }
    &__subtitle {
        color: $colors-primary;
        font-family: $headings-h3-font-family;
        margin: 0;
    }
    .card {
        margin-top: 32px;
    }
}

.footer {
    background: $colors-primary;
    color: $colors-white;
    margin-top: 50px;
    padding: 25px 0;
    width: 100%;
}