$font-path: '../fonts/' !default;

// Define bell-slim font
@include font-face("bell-slim", "#{$font-path}bellslim_regular-webfont", 200, normal, svg eot ttf woff);
@include font-face("bell-slim", "#{$font-path}bellslim_medium-webfont", normal, normal, svg eot ttf woff);
@include font-face("bell-slim", "#{$font-path}bellslim_semibold-webfont", 700, normal, svg eot ttf woff);
// Bell Slim Black
@include font-face("BellSlim Heavy", "#{$font-path}bellslim_black-webfont", normal, normal, woff woff2);
  
h1, .h1, .heading-1, h1.sbdocs-h1 {
    @include heading-types(map-get($headings, h1));
}
h2, .h2, .heading-2, h2.sbdocs-h2 {
    @include heading-types(map-get($headings, h2));
}
h3, .h3, .heading-3, h3.sbdocs-h3 {
    @include heading-types(map-get($headings, h3));
}
h4, .h4, .heading-4, h4.sbdocs-h4 {
    @include heading-types(map-get($headings, h4));
}
h5, .h5, .heading-5, h5.sbdocs-h5 {
    @include heading-types(map-get($headings, h5));
}
h6, .h6, .heading-6, h6.sbdocs-h6 {
    @include heading-types(map-get($headings, h6));
}

// Reset Storybook styles
div.css-14m39zm {
    font-family: unset;
    font-size: unset;
    // margin: unset;
}